@model  Metro.Models.MyModel6
@using Metro.Models



 @using (Html.BeginForm("metro7Post", "metro7", FormMethod.Post, new { id = "metro7" }))
 {   
     <p>Input station:</p>
     
    <br />

    @:Start: @Html.TextBoxFor(x => x.Kvart.KvartIme, new { id = "First" })<br/>

      <br />

    @:End: @Html.TextBoxFor(x => x.Kvart.KvartIme, new { id = "First" })<br/>


  
    
    <input type="submit" value="Get roudtrips" />
    
 }



<br>

@section scripts{

    
    <script type="text/javascript">
        $(function () {

           
            $("#metro7").on("submit", function (e) {

                e.preventDefault();
             

                var request = [];
                if($('#First').val() != "")
                    request.push($('#First').val());
                if ($('#Second').val() != "")
                    request.push($('#Second').val());

            

                $.ajax({
                    url: '@Url.Action("METRO-7", "metro7Post")', 
                    data: JSON.stringify({ stations: request }),
                    type: "POST",
                    async: true,
                    contentType: 'application/json; charset=utf-8',
                    traditional: true,
                    success: function (data) {
                        console.log("OK");
                        $("#result").html(data);
                    }
                });


            });

        });


    </script>
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
} 
