@model IEnumerable<Metro.Models.Ruta>    



<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Zagreb Metro</h1>
                <h2>railway service</h2>
            </hgroup>
            <p>
               
            </p>
            <p>
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        
        <ol class="round">
            <li class="one">
                <h5>METRO-1</h5>
                Reading <b> Zagreb Metro</b> network from <b>metro.txt</b> file:
                      
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="Save file" />
}


<p><b>Output:</b></p>

@if (Model != null)
{
    foreach (var i in Model)
    { 

<p>From @i.Start.KvartIme to @i.Kraj.KvartIme -> @i.Duljina</p>
   
    }

}        


     </li>



            <li class="two">
                <h5>METRO-2</h5>
                Find out distance of a trip:
                            <!-- action,controller  generira /controller/action/ -->
                <a href="@Url.Action("zagreb", "zagrebmetro", new { id = UrlParameter.Optional })">Get distance</a>    
            </li>

            <li class="three">
                <h5>METRO-3</h5>
                Number of trips...
              
                <a href="http://localhost:50109/zagreb-metro/trip/round/count">Learn more…</a>
            </li>
             <li class="four">
                <h5>METRO-4</h5>
               ...
                <a href="http://localhost:50109/zagreb-metro/trip/count">Learn more…</a>
            </li>
             <li class="five">
                <h5>METRO-5</h5>
               ...
                <a href="http://localhost:50109/zagreb-metro/trip/bonus">Learn more…</a>
            </li>
          
             <li class="seven">
                <h5>METRO-7</h5>
               ......
                <a href="">Learn more…</a>
            </li>

        </ol>
    </section>
</div>
