@{
    var result = "";
    Array userData = null;
    
    char[] delimiterChar = new char[3];
    
    delimiterChar[0] = '-';
    delimiterChar[1] = ':';
 

    var dataFile = Server.MapPath("~/App_Data/metro.txt");

    if (File.Exists(dataFile)) {
        
        userData = File.ReadAllLines(dataFile);
        
        if (userData == null) {
            // Prazna datoteka.
            result = "Datoteka je prazna.";
        }
    }
    else {
        // Datoteka ne postoji.
        result = "Datoteka ne postoji.";
    }
}


<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Zagreb Metro</h1>
                <h2>railway service</h2>
            </hgroup>
            <p>
                ASP.NET Web API allows you to expose your applications, data and services to the
                web directly over HTTP.
            </p>
            <p>
                To learn more about ASP.NET Web API visit the
                <a href="http://go.microsoft.com/fwlink/?LinkID=238195" title="ASP.NET Web API Website">ASP.NET Web API Website</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET Web API.
                If you have any questions about ASP.NET Web API, visit
                <a href="http://go.microsoft.com/fwlink/?LinkID=238196" title="ASP.NET Web API Forum">our forums</a>.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>We suggest the following steps:</h3>
        <ol class="round">
            <li class="one">
                <h5>METRO-1</h5>
                Reading Zagreb Metro Network from <b>metro.txt</b> file:
                
                
        <div>

      
        @result
        @if (result == "") {
            <ol>
            @foreach (string dataLine in userData) {
                
              
                
               <h3> Zagreb Metro </h3>
                <ul>
                @foreach (string dataItem in dataLine.Split(',') ) {

               
                    
                    var results = dataItem.Split('-');
                
                    string a = results[0];
                    string a1 = a.ToLower();
                    string b = results[1];
                    var dot = b.Split(':');
                    string c = dot[0];
                    string d = dot[1];
                 

                    string c2 = c[0] + c.Substring(1).ToLower();
                 
           
                    
                    
                    char[] s = a1.ToCharArray();
                    s[0] = char.ToUpper(s[0]);
                    string  a2= new string(s);
                    
                    <p> From @a2 to @c2 -> @d </p>
                          
                
                        
             }
                </ul>
            
            }
            </ol>
        }
        
    </div>


            </li>

            <li class="two">
                <h5>METRO-2</h5>
                Find out distance of a trip:
              
            </li>
            <li class="three">
                <h5>METRO-3</h5>
                Number of trips...
                <a href="http://go.microsoft.com/fwlink/?LinkId=245164">Learn more…</a>
            </li>
             <li class="four">
                <h5>METRO-4</h5>
               ...
                <a href="http://go.microsoft.com/fwlink/?LinkId=245164">Learn more…</a>
            </li>
             <li class="five">
                <h5>METRO-5</h5>
               ...
                <a href="http://go.microsoft.com/fwlink/?LinkId=245164">Learn more…</a>
            </li>
             <li class="six">
                <h5>METRO-6</h5>
                ...
                <a href="http://go.microsoft.com/fwlink/?LinkId=245164">Learn more…</a>
            </li>
             <li class="seven">
                <h5>METRO-7</h5>
               ......
                <a href="http://go.microsoft.com/fwlink/?LinkId=245164">Learn more…</a>
            </li>

        </ol>
    </section>
</div>
