
@model  Metro.Models.Kvart
@using Metro.Models



 @using (Html.BeginForm("metro4Post", "METRO-4", FormMethod.Post, new { id = "metro4" }))
 {   
     <p>Input stations:</p>
     
    <br />

    @:First station @Html.TextBoxFor(x => x.Kvart.KvartIme,new { id = "First" })<br/>
    @:Second station @Html.TextBoxFor(x => x.Kvart.KvartIme,new { id = "Second" })<br />
 
   
  
    
    <input type="submit" value="Get distance" />
    
 }



<br>

@section scripts{

    
    <script type="text/javascript">
        $(function () {

           
            $("#metro4").on("submit", function (e) {

                e.preventDefault();
             

                var request = [];
                if($('#First').val() != "")
                    request.push($('#First').val());
                if ($('#Second').val() != "")
                    request.push($('#Second').val());
              

            

                $.ajax({
                    url: '@Url.Action("metro4Post", "METRO-4")', // "/METRO-4/metro4Post",
                    data: JSON.stringify({ stations: request }),
                    type: "POST",
                    async: true,
                    contentType: 'application/json; charset=utf-8',
                    traditional: true,
                    success: function (data) {
                        console.log("OK");
                        $("#result").html(data);
                    }
                });


            });

        });


    </script>
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
} 


