
@model  Metro.Models.MyModel2
@using Metro.Models





<b>Duljina trazene rute:</b>@ViewBag.Message


<div id="result">

      <dt>Duljina prva:/zagrebPost
    @Html.DisplayNameFor(model => model.distance) 
    </dt>
    <dd>ispis:

  
     @Html.DisplayFor(model => model.distance)
 
  
    </dd>




</div>