
@model  Metro.Models.MyModel1
@using Metro.Models




<div id="result">

      <dt>Duljina prva:/zagrebPost
    @Html.DisplayNameFor(model => model.stations[0]) 
    </dt>
    <dd>ispis:
     @Html.DisplayFor(model => model.stations[0])
    </dd>




</div>