
@model  Metro.Models.MyModel3
@using Metro.Models


<b>Number and output of roundtrips:</b>


<div id="result">
    
    <dt>
     @Html.DisplayNameFor(model => model.roudtrips[0]) 
    </dt>
    <dd>

     @Html.DisplayFor(model => model.roudtrips[0])
     @Html.DisplayNameFor(model => model.roudtrips[1])
     @Html.DisplayFor(model => model.roudtrips[1])
    </dd>




</div>