@model  Metro.Models.MyModel2
@using Metro.Models


<b>Number and output of roundtrips:</b>


<div id="result">

    <dt>
    @Html.DisplayNameFor(model => model.distance) 
    </dt>
    <dd>

     @Html.DisplayFor(model => model.distance)
     @Html.DisplayNameFor(model => model.distance)
     @Html.DisplayFor(model => model.distance)
    </dd>




</div>